html{
    height: 100%;
}

#particles-js {
    height: 99%;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url("../images/1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.front-container{
    height: 500px;
    margin: auto;
}

.front-heading{
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form-lbl{
    font-size: 12px;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    }

.error_hide{
    visibility: hidden;
    margin: 5px;
}

.error_show{
    visibility: visible;
}